%h1= 'My comments:'
%table.table.table-striped
    %tbody
    - @comments.each_with_index do |comment, i|
        %tr
            %td{style:"width: 15%"}
                %strong= comment.movie.title
                %br/
                %small= comment.movie.created_at.strftime("%F %T")
            %td= comment.text
            %td{style:"width: 10%"}= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' }
